<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_oldenburg.carfinder">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3T_RlOwz_oWjdH4LtQHMdKfRT8Nq_oCA" />

        <activity android:name="de.uni_oldenburg.carfinder.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uni_oldenburg.carfinder.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uni_oldenburg.carfinder.activities.MainActivity" />
        </activity>

        <receiver android:name="de.uni_oldenburg.carfinder.ActivityTransitionChangeReceiver">
            <intent-filter>
                <action android:name="de.uni_oldenburg.carfinder.TRANSITION"></action>
            </intent-filter>

        </receiver>

    </application>

</manifest>